//- index.pug（トップページ用の中身）

extends layout.pug

block content
  section.hero
    h2 今日のおすすめ
    p これはPugで書かれたHTMLテンプレートです。

  section.news
    h3 お知らせ
    ul
      li 4月10日: 新機能を追加しました！
      li 4月1日: サイトをリニューアルしました！